@model RegistAndUploadImageDemo.Models.TenUser

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "TenUser", null, FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TenUser</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label("Avatar", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="Avatar" name="upload" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserPassword, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserPassword)
                @Html.ValidationMessageFor(model => model.UserPassword)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneType)
                @Html.ValidationMessageFor(model => model.PhoneType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gender)
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Birthday, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Birthday)
                @Html.ValidationMessageFor(model => model.Birthday)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JoinedDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JoinedDate)
                @Html.ValidationMessageFor(model => model.JoinedDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PCoin, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PCoin)
                @Html.ValidationMessageFor(model => model.PCoin)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OuterScore, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OuterScore)
                @Html.ValidationMessageFor(model => model.OuterScore)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InnerScore, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InnerScore)
                @Html.ValidationMessageFor(model => model.InnerScore)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Energy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Energy)
                @Html.ValidationMessageFor(model => model.Energy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hobby, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hobby)
                @Html.ValidationMessageFor(model => model.Hobby)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quote, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quote)
                @Html.ValidationMessageFor(model => model.Quote)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Lati, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lati)
                @Html.ValidationMessageFor(model => model.Lati)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Longi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Longi)
                @Html.ValidationMessageFor(model => model.Longi)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
